<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Orange HRM">
    <test name="Test Basics">
        <classes>
            <class name="Test.LoginTest"/>
            <class name="Test.AdminAddUser"/>
            <class name="Test.AddUserTest"/>


        </classes>
    </test>
</suite>